body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
#canvas {
    background-color: #1a2233;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
    width: 100%;
    max-width: 100%;
    height: auto; 
    display: block;
    margin: 0 auto; 
}

body {
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
}
.lista {
    background-color: #323b61; 
    color: white;
    text-align: center; 
    padding: 10px 0; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
  }
  
  .fjalet {
    display: flex; 
  }
  
  .fjalet a {
    text-decoration: none; 
    color: white;
    margin: 0 20px; 
    font-size: 18px; 
    font-weight: bold; 
    transition: color 0.3s;
  }
  
  .fjalet a:hover {
    color: #007BFF;
  }
  .about-all {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    text-align: center; 
  }
  .about-section {
    display: flex;
    margin-left: 30vh;
}
  
    
  .Text-Container {
    text-align: center;
  }
  
  .Text-Container div {
    font-size: 36px; 
    font-weight: 10;
    font-family: 'Roboto', sans-serif;

    color: #000000;
  }
  
  
  .drejtimi {
    flex: 1; 
    padding: 20px; 
    position: relative;
    margin-left: 30vh;
  }
  
  .octa {
    height: 300px; 
    width: 300px;
    background-image: url('/tuxpi.com.1696685016.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
  }
  
  .text {
    font-size: 18px; 
    margin-left: 0px;
    text-align: left;
    color: #333; 
    padding-top: 15px;
    width: 300px;
  }
  
  .octa {
    border-radius: 40px;
  }
  
  /* Style the chart */
  #myChart {
    border-radius: 10px;
    width: 500px; 
    position: relative;
    margin-right: 50vh;
}
.portofolio {
  background-color: #f2f2f5; 
  padding: 40px;
    text-align: center;
  }
  
  #portofolio-text {
    font-size: 36px;
    font-weight: 10;
    font-family: 'Roboto',sans-serif;
    color: #333;
    margin-bottom: 20px;
  }
  
  .profileImages {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px; 
    justify-items: center; 
    align-items: center; 
  }
  
  .profileImages img {
    max-width: 100%; 
  
    height: 400px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
  }
  
  .profileImages a {
    display: inline-block;
    transition: transform 0.3s;
  }
  
  .profileImages a:hover {
    transform: scale(1.05); 
  }
  .project h3{
    margin-top: 20px;
  }
  
  @media screen and (max-width: 768px) {
    .lista {
      text-align: left; 
      white-space: normal; 
    }
  
    .fjalet {
      display: block; 
    }
  
    .fjalet a {
      display: block; 
      margin: 10px 0; 
   
    }
    
    
.about-all {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  text-align: center;

}

.about-section {
    display: block;
  margin-top: 20px;
    align-items: center;
    margin-left: -0vh;
}
.drejtimi{
    left: 25vh;
}

#myChart {
  display: block;
  width: 400px;
}
.about-section h3{
  width: 100%;
}      

}
  
      
#contact {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 40px 0;
}

#contacte-first {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

#contacte-sec p {
    font-size: 18px;
    margin-bottom: 20px;
}

.contact-forms {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"],
input[type="email"],
textarea {
    width: 50%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: transparent;
    color: white;
}

textarea {
    height: 150px;
    resize: vertical;
}

.submit-button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 50%;
}

.submit-button:hover {
    background-color: #0056b3;
}
